@media screen and (min-width: 1500px) {
    html {
        zoom: 1.5;
        -moz-transform: scale(1.5); 
        -moz-transform-origin: 0 0;
    }
}
.green {
    color: #69ff69;
}
.error:empty {
    display: none;
}
.message {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.message p {
    margin-top: 0px;
}
.message h1 {
    font-size: 60px;
    margin-bottom: 0;
}
.ignore-css{
    all: unset !important;
}