# RewriteEngine On

# RewriteCond %{HTTPS} off 
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# RewriteRule ^u/(.*)$ /user.php?q=$1 [L]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?user/(.*)$ /greendit/user.php?name=$1 [P]