.community-info {
    border: 1px solid black;
}
.community-background {
    width: 100%;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
    border-bottom: 3px solid #dfdfdf;
}
.community-pfp {
    border: 3px solid #dfdfdf;
    margin: -10px;
    margin-bottom: 10px;
}
.community-pfp {
    float: left;
    margin-right: 30px;
    border-radius: 50%;
    width: 70px;
    margin-top: -10px;
    position: relative;
    top: -7px;
    left: 10px;
    height: 70px;
    background-color: white;
}
.community-banner {
    padding-left: 100px;
    margin-top: -7px;
}
.community-banner-main {
    padding-top: 9px;
}
.community-banner h2 {
    margin: 0;
}
.community-main p {
    margin-top: 0;
    margin-bottom: 0;
    color: #676767;
    font-size: 12px;
}
.community-banner a {
    color: #000;
    text-decoration: none;
}
.community-banner a:hover {
    text-decoration: underline;
}
.community-stats {
    margin-top: 10px;
}
/* .community-stats p {
    margin-top: 4px;
    margin-bottom: 4px;
}
.community-info .follow-btn {
    margin-top: 10px;
} */
main {
    background-color: aliceblue;
}