main {
    padding: 0 20px 0 20px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
#feed {
    padding: 0 0 0 0;
    background-color: lightgray;
    margin: 0 -20px 0 -20px;
    padding: 10px 10% 10px 10%;
    flex-grow: 1;
}
.feed-text {
    background-color: white;
    border-radius: 2px;
    padding: 5px;
}
/* ---- Post ----------------------------------------------------------------------------- */
.post {
    background-color: white;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
}
.post h2 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 20px;
}
.post .right p {
    margin-top: 10px;
    margin-bottom: 10px;
}
.post:hover {
    outline: 1px solid gray;
}
.like-count {
    text-align: center;
}
.upvote:hover {
    color: darkcyan;
    cursor: pointer;
}
.downvote:hover {
    color: darkcyan;
    cursor: pointer;
}
.post .left {
    /* display: inline-block; */
    float: left;
    background-color: #f1f1f1;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 6px;
}
.right {
    padding: 4px;
    padding-right: 10px;
}
.post .head {
    color: #696969;
    font-size: 13px;
}
.post .head a {
    color: #696969;
    text-decoration: none;
}
.post .head a:hover {
    text-decoration: underline;
}
.arrow-wrapper {
    display: flex;
    flex-direction: column;
}
.arrow-wrapper button {
    border: 0;
    background: none;
    font-weight: bold;
    padding: 0;
    width: 13px;
}
.arrow-wrapper .downvote {
    transform: rotate(180deg);
}
/* ---- Community ------------------------------------------------------------------------ */
.community {
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 5px;
}
.community > .community-pfp {
    float:left;
    margin-right: 10px;
}
.community > .community-pfp img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ebebeb;
}
.community > .main p {
    margin-top: 0;
    margin-bottom: 0;
    color: #676767;
    font-size: 12px;
}
.community a {
    color: #000;
    text-decoration: none;
}
.community a:hover {
    text-decoration: underline;
}
/* ---- Create Post ---------------------------------------------------------------------- */
.create-post {
    background-color: white;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.create-post button {
    flex-grow: 1;
    text-align: left;
    height: 30px;
}
.create-post .user-pfp {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #b5b5b5;
    margin-right: 10px;
}
