:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body, html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header nav {
    overflow: hidden;
    background-color: rgb(31, 31, 31);
}

header nav a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
}

header nav a:first-child {
    float: left;
}

nav.tabbs {
    overflow: hidden;
    border-bottom: 1px solid gray;
}
nav.tabbs a {
    float: left;
    color: black;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1em;
}
nav.tabbs a.active {
    background-color: #4CAF50;
    color: white;
}