article {
    background-color: white;
    border: 1px solid $gray-300;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
    &.titled {
        padding-top: 0;
        p {
            margin: 5px 0 5px 0;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                border-bottom: 1px solid $gray-200;
                margin: 5px 0 5px 0;
                p {
                    margin: 0;
                }
            }
        }
    }
    & > h2 {
        margin: 0;
    }
}