header nav {
    overflow: hidden;
    background-color: #1f1f1f;
    color: white;
    position: relative;
    display: flex;
    align-content: flex-start;
    align-items: center;
    & > ul {
        flex-wrap: wrap;
        width: 100%;
    }
    li.search-wrapper {
        @media screen and (max-width: 600px) {
            flex: 1;
        }
        & #search {
            box-sizing: border-box;
            width: 100%;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        display: inline-flex;
        justify-content: stretch;
        align-items: stretch;
        overflow: hidden;
        li {
            margin: 0;
            list-style: none;
            padding: 7px 14px;
            text-align: center;
            &:hover {
                background-color: lightgreen;
                color: #1f1f1f;
            }
        }
    }
    #check, .menu-icon {
        display: none;
    }
    .menu {
        display: flex;
    }
    @media screen and (max-width: 600px) {
        & {
            justify-content: space-between;
        }
        & .right {
            display: flex;
            flex-direction: row;
        }
        .menu {
            display: none;
            flex-direction: column;
            flex-basis: 100%;
        }
        .menu-icon {
            display: block;
        }
        #check:checked + .menu {
            display: flex;
        }
    }
    & > a:first-child {
        color: #69ff69;
    }
    a {
        color: inherit;
        text-align: center;
        text-decoration: none !important;
        font-size: 1em;
    }
}
nav.tabbs {
    overflow: hidden;
    border-bottom: 1px solid gray;
    margin-bottom: 0;
    a {
        float: left;
        color: black;
        text-align: center;
        padding: 8px 16px;
        text-decoration: none;
        font-size: 1em;
        &.active {
            color: #4CAF50;
        }
    }
}