.save-btn::after {
	content: "Save";
}
.save-btn.active {
    .icon .fill {
        fill: $black;
    }
    &::after {
	    content: "Unsave";
    }
}
.footer,
.comment__footer {
    overflow: auto;
    & > button {
        background-color: white;
        border: none;
        border-radius: 2px;
        padding: 5px;
        float: left;
        &:hover {
            background-color: $gray-150;
        }
    }
}
.join-btn {
	border-radius: 50px;
	border: 1px solid $dark-lime;
	background-color: $dark-lime;
	padding-top: 5px;
	padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
	color: white;
    &.active{
        color: $dark-lime;
        background-color: white;
        &::after {
            content: "Joined";
        }   
    }
    &::after {
        content: "Join";
    }
}