button {
    color: black;
    font-size: 14px;
    @media screen and (max-width: 600px) {
        font-size: 16px;
    }
}
.save-btn::after {
	content: "Save";
}
.save-btn.active {
    .icon .fill {
        fill: $black;
    }
    &::after {
	    content: "Unsave";
    }
}
.footer,
.comment__footer {
    overflow: auto;
    & > button {
        background-color: white;
        border: none;
        border-radius: 2px;
        padding: 5px;
        float: left;
        &:hover {
            background-color: $gray-150;
        }
    }
}
@mixin roundBtn($label1,$label2,$color: $dark-lime) {
    border-radius: 50px;
    border: 1px solid $color;
    background-color: $color;
    padding: 5px 15px 6px 15px;
    width: 74px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: white;
    &.active {
        color: $color;
        background-color: white;
        &::after {
            content: $label2;
        }
    }
    &::after {
        content: $label1;
    }
}
.join-btn {
    @include roundBtn('Join', 'Joined', $dark-lime);
}
.follow-btn {
    @include roundBtn('Follow', 'Unfollow', $blue);
    width: 84px;
}