#feed {
    padding: 0 0 0 0;
	background-color: lightgray;
	margin: 0 -20px 0 -20px;
	padding: 10px 20% 10px 20%;
	flex-grow: 1;
    @media screen and (max-width: 600px) {
        padding: 10px 25px 10px 25px;
    }
}