.pfp img {
	border-radius: 50%;
	background-color: white;
	border: 1px solid #b5b5b5;
}
.pfp {
	border-radius: 50%;
	aspect-ratio: 1;
	border: 1px solid #b5b5b5;
	position: relative;
	content: "ee";
	&.small {
		width: 30px;
	}
	&.medium {
		width: 34px;
	}
	&.large {
		width: 70px;
	}
	&-select {
		position: relative;
		border-radius: 50%;
		overflow: hidden;
		aspect-ratio: 1;
		top: 34px;
		.pfp {
			position: initial;
		}
		&::after {
			content: "edit";
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #b2b2b299;
			transition: all 0.2s;
			opacity: 0;
		}
		&:hover {
			&::after {
				opacity: 1;
			}
		}
	}
}
