.create-post {
	border-radius: 2px;
	margin-bottom: 10px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	button {
		flex-grow: 1;
		text-align: left;
		height: 30px;
		border-radius: 2px;
		border: 1px solid black;
		background-color: $gray-100;
		&:hover {
			cursor: text;
			border: 1px solid $blue;
			background-color: white;
		}
	}
	.user-pfp {
		float: left;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		border: 1px solid #b5b5b5;
		margin-right: 10px;
	}
}
