.post {
    padding: 0;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    &:hover {
        border: 1px solid $gray-700;
    }
    .left {
        float: left;
        background-color: $gray-100;
        padding: 6px;
        width: 13px;
        @media screen and (max-width: 600px) {
            padding: 0;
            width: 0;
            .arrow-wrapper {
                @include horizontalWrapper();
                position: absolute;
                bottom: 7px;
                left: 10px
            }
        }
    }
    .right {
        padding: 4px;
        padding-right: 10px;
        padding-left: 10px;
        width: 100%;
        h2 {
            margin-bottom: 5px;
            margin-top: 0;
            font-size: 20px;
        }
        p {
            margin-top: 10px;
            margin-bottom: 5px;
        }
        .image-collage,
        .video-container {
            img, video {
                max-width: 100%;
                max-height: 512px;
                object-fit: contain;
            }
            video {
                min-width: 100%;
            }
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .head {
        color: #696969;
        font-size: 13px;
    }
    .footer {
        margin-top: 5px;
        @media screen and (max-width: 600px) {
            padding-left: 50px;
        }
    }
}