@charset "UTF-8";
.light {
  color: #808080;
  font-size: smaller;
}

a {
  color: #696969;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

body.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hidden {
  display: none !important;
}

.socials {
  list-style-type: none;
}
.socials li {
  display: inline;
  border: none !important;
  margin-right: 5px !important;
}
.socials li a {
  text-decoration: none;
  color: black;
}
.socials li a:hover {
  color: #696969;
}

.growing {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main {
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #d3d3d3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 25px 10px 25px;
}
main.single {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
main.multicol {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (max-width: 600px) {
  main.multicol {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (max-width: 450px) {
  main.multicol {
    padding: 10px 5px 10px 5px !important;
  }
}

.arrow-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.arrow-wrapper.horizontal {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 46px;
  margin-right: 6px;
  float: left;
}
.arrow-wrapper button {
  border: 0;
  background: none;
  padding: 0;
  width: 13px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.arrow-wrapper button svg {
  float: left;
}
.arrow-wrapper button svg * {
  fill: none;
}
.arrow-wrapper button.upvote.active svg .fill {
  fill: #00a651;
}
.arrow-wrapper button.upvote:hover svg .stroke {
  stroke: #00a651;
}
.arrow-wrapper button.downvote {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.arrow-wrapper button.downvote.active svg .fill {
  fill: #016965;
}
.arrow-wrapper button.downvote:hover svg .stroke {
  stroke: #016965;
}
.arrow-wrapper button:disabled {
  cursor: not-allowed;
}
.arrow-wrapper button:disabled svg .stroke {
  stroke: #808080;
}
.arrow-wrapper button:disabled svg .fill {
  fill: #ebebeb;
}
.arrow-wrapper button:disabled.active .fill {
  fill: #bfbfbf;
}
.arrow-wrapper button::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.arrow-wrapper .like-count {
  text-align: center;
  margin: 3px 0 3px 0;
}

button {
  color: black;
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  button {
    font-size: 16px;
  }
}

.save-btn::after {
  content: "Save";
}

.save-btn.active .icon .fill {
  fill: #000;
}
.save-btn.active::after {
  content: "Unsave";
}

.footer,
.comment__footer {
  overflow: auto;
}
.footer > button,
.comment__footer > button {
  background-color: white;
  border: none;
  border-radius: 2px;
  padding: 5px;
  position: relative;
  float: left;
}
.footer > button:hover,
.comment__footer > button:hover {
  background-color: #e9e9e9;
}
.footer > button::before,
.comment__footer > button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.join-btn {
  padding: 5px 15px 6px 16px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  border: 1px solid #00A36C;
  width: auto;
  cursor: pointer;
  background-color: #00A36C;
  color: white;
}
.join-btn.active {
  color: #00A36C;
  background-color: white;
}
.join-btn.active::after {
  content: "Joined";
}
.join-btn::after {
  content: "Join";
}

.follow-btn {
  padding: 5px 15px 6px 16px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  border: 1px solid #00c2ff;
  width: auto;
  cursor: pointer;
  background-color: #00c2ff;
  color: white;
  width: 84px;
}
.follow-btn.active {
  color: #00c2ff;
  background-color: white;
}
.follow-btn.active::after {
  content: "Unfollow";
}
.follow-btn::after {
  content: "Follow";
}

.post-btn {
  padding: 5px 15px 6px 16px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  border: 1px solid #00A36C;
  width: auto;
  cursor: pointer;
  background-color: #00A36C;
  color: white;
}

#next-pfp-btn {
  padding: 5px 15px 6px 16px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  border: 1px solid #696969;
  width: auto;
  cursor: pointer;
  background-color: #696969;
  color: white;
}

#fetch-btn {
  display: none;
}

.create-comment {
  border-bottom: 1px solid #b5b5b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  margin-top: -10px;
}
.create-comment input {
  padding: 8px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.comment-wrapper {
  background-color: white;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 10px 0 10px 0;
}
.comment-wrapper > p {
  padding-left: 10px;
}
.comment-wrapper:hover {
  outline: 1px solid gray;
}

.comment {
  margin-left: 20px;
  border: none;
  margin-bottom: 0;
  border-left: 2px solid #e5e5e5;
  padding-left: 7px;
  padding-bottom: 6px;
  padding-top: 0;
  overflow: visible;
}
.comment:hover {
  border-color: #d3d3d3;
}
.comment.highlighted {
  background-color: #ececec;
}
.comment__header {
  margin-left: -24px;
}
.comment__header .pfp {
  margin-right: 5px;
  vertical-align: middle;
}
.comment__content {
  margin-top: 0;
  margin-bottom: 0;
}
li.flair .pfp {
  vertical-align: middle;
  margin-right: 10px;
}

.icon {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 5px;
}
.icon-bookmark .fill {
  fill: rgba(0, 0, 0, 0);
}
.icon-plus * {
  fill: #fff;
}
.icon-medium {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}
.icon-medium:hover path {
  fill: rgb(69, 69, 69);
}
.icon-upvote {
  margin: 0;
  float: none !important;
}

.pfp img {
  border-radius: 50%;
  background-color: white;
  border: 1px solid #b5b5b5;
}

.pfp {
  border-radius: 50%;
  aspect-ratio: 1;
  border: 1px solid #b5b5b5;
  position: relative;
}
.pfp.small {
  width: 30px;
}
.pfp.medium {
  width: 34px;
}
.pfp.large {
  width: 70px;
}
.pfp-select {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1;
  top: 34px;
}
.pfp-select .pfp {
  position: initial;
}
.pfp-select::after {
  content: "edit";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(178, 178, 178, 0.6);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
}
.pfp-select:hover::after {
  opacity: 1;
}

.create-post {
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.create-post button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: left;
  height: 30px;
  border-radius: 2px;
  border: 1px solid black;
  background-color: #f1f1f1;
}
.create-post button:hover {
  cursor: text;
  border: 1px solid #00c2ff;
  background-color: white;
}
.create-post .user-pfp {
  float: left;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #b5b5b5;
  margin-right: 10px;
}

.post {
  padding: 0;
  border-radius: 2px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.post:hover {
  border: 1px solid #808080;
}
.post .left {
  float: left;
  background-color: #f1f1f1;
  padding: 6px;
  width: 13px;
}
.post .right {
  padding: 4px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
.post .right h2 {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 20px;
}
.post .right p {
  margin-top: 10px;
  margin-bottom: 5px;
}
.post .right .image-collage,
.post .right .video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.post .right .image-collage img, .post .right .image-collage video,
.post .right .video-container img,
.post .right .video-container video {
  max-width: 100%;
  max-height: 512px;
  -o-object-fit: contain;
     object-fit: contain;
}
.post .right .image-collage video,
.post .right .video-container video {
  min-width: 100%;
}
.post .head {
  color: #696969;
  font-size: 13px;
}
.post .footer {
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (max-width: 600px) {
  .post:not(.overview) .footer {
    padding-left: 50px;
    border-top: 1px solid #bfbfbf;
  }
  .post:not(.overview) .left {
    padding: 0;
    width: 0;
  }
  .post:not(.overview) .left .arrow-wrapper {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 46px;
    margin-right: 6px;
    float: left;
    position: absolute;
    bottom: 7px;
    left: 10px;
  }
}
.post.overview .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 400px) {
  .post.overview .footer .share-btn {
    display: none;
  }
}

.trend {
  margin-bottom: 5px;
}
.trend .pfp {
  float: left;
  margin-right: 10px;
}
.trend a {
  color: #000;
}
.trend .main p {
  margin-top: 0;
  margin-bottom: 0;
  color: #676767;
  font-size: 12px;
}

.trending {
  margin: 0;
  padding: 0;
}
.trending li {
  list-style-type: none;
}

.query {
  border-bottom: 1px solid black;
  color: black;
}

#search-result__wrapper {
  position: fixed;
  top: 0;
  padding-top: 50px;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.5333333333);
}
#search-result__content {
  width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#search-result__content > h2 {
  margin: 0;
  color: #00A36C;
}
#search-result__content > p {
  margin: 2px 0 2px 0;
  font-weight: bold;
}
#search-result__content ul {
  padding: 0;
  margin: 0;
}
#search-result__content ul li {
  list-style: none;
  padding: 2px;
  border-bottom: 1px solid #ebebeb;
}
#search-result__content ul li:hover {
  background-color: lightblue;
}
#search-result__content ul li.multirow img {
  float: left;
  margin-right: 5px;
}
#search-result__content ul li.multirow p {
  font-size: smaller;
}
#search-result__content ul li.multirow p:first-child {
  color: black;
}
#search-result__content ul li img {
  vertical-align: middle;
}
#search-result__content ul li a {
  display: block;
  width: 100%;
  text-decoration: none !important;
}
#search-result__content ul li a p {
  margin-top: 0;
  margin-bottom: 0;
}

article {
  background-color: white;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 10px;
  overflow: hidden;
}
article.titled {
  padding-top: 0;
}
article.titled p {
  margin: 5px 0 5px 0;
}
article.titled ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
article.titled ul li {
  border-bottom: 1px solid #ebebeb;
  margin: 5px 0 5px 0;
}
article.titled ul li p {
  margin: 0;
}
article > h2 {
  margin: 0;
}

center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#feed {
  padding: 0;
  width: 500px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  #feed {
    width: 100%;
  }
}

footer {
  width: 100%;
  background-color: rgb(31, 31, 31);
  color: white;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

form.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00A36C;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
form.login p {
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
}
form.login h1 {
  width: 100%;
  text-align: center;
  position: relative;
}
form.login h1::after {
  content: "";
  width: 90%;
  position: absolute;
  bottom: -8px;
  left: 5%;
  height: 4px;
  background-color: #00A36C;
}
form.login .container {
  background-color: white;
  max-width: 100%;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 10px;
}
form.login input {
  width: 100%;
  height: 2rem;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
}
form.login input[type=submit] {
  padding: 5px 15px 6px 16px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  border: 1px solid #00A36C;
  width: auto;
  cursor: pointer;
  background-color: #00A36C;
  color: white;
  -ms-flex-item-align: center;
      align-self: center;
  width: 50%;
}
form.login .pfp-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
form.login .pfp-container .pfp {
  margin-right: 10px;
}

header nav {
  overflow: hidden;
  background-color: #1f1f1f;
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav > ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
@media screen and (max-width: 600px) {
  header nav li.search-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
header nav li.search-wrapper #search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
header nav ul {
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
}
header nav ul li {
  margin: 0;
  list-style: none;
  padding: 7px 14px;
  text-align: center;
}
header nav ul li:hover {
  background-color: lightgreen;
  color: #1f1f1f;
}
header nav #check, header nav .menu-icon {
  display: none;
}
header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 600px) {
  header nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav .menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  header nav .menu-icon {
    display: block;
  }
  header nav #check:checked + .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header nav > a:first-child {
  color: #69ff69;
}
header nav a {
  color: inherit;
  text-align: center;
  text-decoration: none !important;
  font-size: 1em;
}

nav.tabbs {
  overflow: hidden;
  border-bottom: 1px solid gray;
  margin-bottom: 0;
}
nav.tabbs a {
  float: left;
  color: black;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1em;
}
nav.tabbs a.active {
  color: #4CAF50;
}

aside {
  justify-self: flex-end;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  margin-left: 20px;
  width: 305px;
}
@media screen and (max-width: 600px) {
  aside {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    margin-left: 0;
  }
}
aside article > h1 {
  margin: 0 -10px 0 -10px;
  padding: 5px;
  color: #fff;
  background-color: #00A36C;
  margin-top: 0;
}

.community-info {
  border: 1px solid black;
}
.community-background {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-bottom: 3px solid #dfdfdf;
}
@media screen and (max-width: 600px) {
  .community-background {
    height: 100px;
  }
}
.community-pfp {
  border: 3px solid #dfdfdf;
  margin: -10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
  width: 70px;
  margin-top: -10px;
  position: relative;
  top: -7px;
  left: 10px;
  height: 70px;
  background-color: white;
}
.community-main {
  padding: 22px 0 20px 100px;
}
.community-main p {
  margin-top: 0;
  margin-bottom: 0;
  color: #676767;
  font-size: 12px;
}
.community-banner {
  padding-left: 100px;
  margin-top: -7px;
}
@media screen and (max-width: 600px) {
  .community-banner {
    padding-left: 30px;
  }
}
.community-banner-main {
  padding-top: 9px;
}
.community-banner .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.community-banner a {
  color: #000;
  text-decoration: none;
}
.community-banner a:hover {
  text-decoration: underline;
}
.community-banner h2 {
  margin: 0;
  display: inline;
  margin-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

form.spetial {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

#content {
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
}

main.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form.special {
  width: 50%;
}

#title {
  padding: 0;
  border-radius: 2px;
  border: 1px solid gray;
  padding-left: 5px;
}

#title, #content {
  width: calc(100% - 10px);
}

#content, #title, #sub {
  padding: 4px;
  margin-bottom: 5px;
}

#preview {
  padding-top: 5px;
}

.file-select {
  width: calc(100% - 10px);
  height: 200px;
  border: 1px dashed #b5b5b5;
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.file-select.hidden {
  display: none;
}

.file-select::before {
  content: "Drag and drop media or  ";
}

#preview img {
  width: 100px;
  height: 100px;
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

#preview picture {
  opacity: 0.6;
  position: relative;
}

#preview picture:hover {
  opacity: 1;
}

#preview picture:hover .rm-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#preview picture .rm-btn {
  all: unset;
  position: absolute;
  margin: 7px;
  right: 0;
  font-weight: bold;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 7px;
  background-color: black;
  display: none;
}

#preview picture.selected {
  border: 2px solid coral;
  padding: 5px;
}

.dragdrop {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: #ebebeb;
}

.tabs {
  margin-left: -10px;
  width: calc(100% + 20px);
  background-color: #f6f6f6;
  border-bottom: #ebebeb;
  margin-bottom: 5px;
}

.tabs button {
  padding: 5px;
  border: none;
  margin-left: 1px;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(162, 162, 162);
  position: relative;
}
.tabs button svg path {
  fill: rgb(162, 162, 162);
}

.tabs i {
  margin-right: 10px;
}

.tabs button.active {
  color: black;
  background-color: #cfffcf;
}
.tabs button.active svg path {
  fill: black;
}

.tabs button.active::after {
  content: " ";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -1px;
  height: 1px;
  background-color: black;
}

.composer {
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  border: 1px solid #dedede;
}

main > div.center {
  width: 600px;
  max-width: 100%;
}
main > div.center h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.below {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.error {
  color: #d9534f;
  font-size: 0.7em;
  margin: -5px 0 5px 0 !important;
}

video {
  max-width: 100%;
  max-height: 600px;
}

.post-content {
  margin-bottom: 5px;
}

.fancy-text-input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid gray;
  overflow: hidden;
  border-radius: 2px;
  width: 10em;
}
.fancy-text-input .fancy-text-input__input {
  color: #696969;
  border: 0;
  padding: 4px;
  font-size: 1em;
  width: 100%;
}
.fancy-text-input .fancy-text-input__input:focus {
  outline: none;
}
.fancy-text-input .fancy-text-input__prepend {
  color: #696969;
  padding: 4px;
  border-right: 1px solid #b5b5b5;
}

.radio-icon {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  float: none;
}
.radio-icon path {
  fill: #696969;
}

.community-composer {
  width: 300px;
  -ms-flex-item-align: center;
      align-self: center;
}
@media screen and (max-width: 600px) {
  .community-composer {
    justify-self: flex-start;
  }
}
.community-composer p {
  margin: 0;
  margin-bottom: 5px;
}
.community-composer label {
  margin-top: 10px;
}
.community-composer input[type=submit] {
  padding: 5px 15px 6px 16px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50px;
  border: 1px solid #00A36C;
  width: auto;
  cursor: pointer;
  background-color: #00A36C;
  color: white;
  margin-top: 14px;
}
.community-composer h1 {
  margin: 0;
  margin-bottom: 5px;
}

.field-group {
  margin-bottom: 5px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user__banner {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background-color: #00A36C;
  margin: 0 -10px 30px -10px;
  border-bottom: 1px solid #bfbfbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.user__banner img {
  position: relative;
  top: 34px;
}
.user__main {
  padding-top: 10px;
  text-align: center;
}
.user__main h2 {
  margin: 0;
}
.user__stats {
  padding-left: 20px;
  margin-bottom: 10px;
}
.user__stats a {
  color: black;
  text-decoration: none;
}

.post.overview .thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  margin: 10px 0 10px 10px;
  background: #f1f1f1;
  overflow: hidden;
}
.post.overview .thumb svg {
  margin: 0;
}
.post.overview .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-comment-wrapper {
  padding: 0;
  overflow: visible;
}
.user-comment-wrapper.beheaded {
  margin-top: -8px;
}
.user-comment-wrapper.beheaded .user-comment:first-child::before {
  display: none;
}
.user-comment-wrapper__head {
  padding: 5px;
}
.user-comment-wrapper__head svg.icon {
  margin-top: 3px;
}
.user-comment-wrapper__head:hover {
  outline: 1px solid gray;
}
.user-comment-wrapper__comments .indent {
  margin-left: 10px;
  border-left: 2px dashed #ebebeb;
  padding: 5px;
}
.user-comment-wrapper__comments .user-comment {
  border: none;
  padding: 5px;
  margin: 0;
  position: relative;
  overflow: hidden;
}
.user-comment-wrapper__comments .user-comment__head {
  margin-top: 0;
  margin-bottom: 2px;
}
.user-comment-wrapper__comments .user-comment:hover {
  outline: 1px solid gray;
}
.user-comment-wrapper__comments .user-comment:hover::before {
  display: none;
}
.user-comment-wrapper__comments .user-comment p {
  margin: 0;
}
.user-comment-wrapper__comments .user-comment::before {
  content: "";
  width: calc(100% - 10px);
  position: absolute;
  top: 1px;
  left: 5px;
  height: 2px;
  background-color: #ebebeb;
}

.followers {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 5px 0 5px 0;
}
.followers img {
  margin-right: 10px;
  vertical-align: middle;
}