// Grayscale
$gray-800: #696969;
$gray-700: #808080;
$gray-400: #b5b5b5;
$gray-300: #bfbfbf;
$gray-250: #d3d3d3;
$gray-200: #ebebeb;
$gray-150: #e9e9e9;
$gray-100: #f1f1f1;

// generic
$black: #000;
$white: #fff;
$trans: #0000;

// Message
$color-success: #5cb75c;
$color-info: #5bc0de;
$color-warning: #f0ad4e;
$color-error: #d9534f;

// Greendit Colors
$color-upvote: #00a651;
$color-downvote: #016965;

$dark-lime: #00A36C;
$blue: #00c2ff;
